# Test-only XTGeo oracle, Python >= 3.12. Full wheel dependency closure.
# Install in a separate venv; see README.md for license, scope and commands.
cloudpickle==3.1.2
contourpy==1.4.0
cycler==0.12.1
deprecation==2.1.0
emcee==3.1.6
fonttools==4.66.1
gstools==1.7.0
gstools_cython==1.2.0
h5py==3.16.0
hankel==1.2.2
hdf5plugin==7.1.0
joblib==1.6.0
kiwisolver==1.5.1
markdown-it-py==4.2.0
matplotlib==3.11.2
mdurl==0.1.2
meshio==5.3.5
mpmath==1.4.1
numpy==2.5.3
packaging==26.3
pandas==3.0.6
pillow==12.3.0
pyarrow==25.0.1
pyevtk==1.7.0
Pygments==2.21.0
pyparsing==3.3.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
resfo==5.0.1
rich==15.0.0
RoffIO==1.1.1
scipy==1.18.1
segyio==1.9.14
shapely==2.1.2
six==1.17.0
typing_extensions==4.16.0
tzdata==2026.5
xtgeo==4.26.0
xtgeoviz==0.3.2
